# ISIC_2019_Training_Input

In [1]:
import pandas as pd

In [52]:
## 1. load in data
metadata_path = '../datafiles/ISIC_2019_Training_Metadata.csv'
gt_path = '../datafiles/ISIC_2019_Training_GroundTruth.csv'
df_meta = pd.read_csv(metadata_path)
df_gt = pd.read_csv(gt_path)
df = df_meta.set_index('image').join(df_gt.set_index('image'))
df = df.reset_index()
print(len(df))
df.head()

25331

,image,age_approx,anatom_site_general,lesion_id,sex,MEL,NV,BCC,AK,BKL,DF,VASC,SCC,UNK
0,ISIC_0000000,55.0,anterior torso,NaN,female,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ISIC_0000001,30.0,anterior torso,NaN,female,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ISIC_0000002,60.0,upper extremity,NaN,female,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ISIC_0000003,30.0,upper extremity,NaN,male,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ISIC_0000004,80.0,posterior torso,NaN,male,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
df.describe()

,age_approx,MEL,NV,BCC,AK,BKL,DF,VASC,SCC,UNK
count,24894.000000,25331.000000,25331.000000,25331.000000,25331.000000,25331.000000,25331.000000,25331.000000,25331.000000,25331.0
mean,54.028481,0.178516,0.508270,0.131183,0.034227,0.103588,0.009435,0.009988,0.024792,0.0
std,18.130971,0.382954,0.499941,0.337607,0.181815,0.304732,0.096677,0.099440,0.155493,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
50%,55.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
75%,70.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
max,85.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0

### drop samples without sex information

In [54]:
df = df[~(df['sex'].isna())]
len(df)

24947

### drop samples ends with 'downsample'

In [55]:
df = df[~df['image'].str.endswith('downsampled')]
len(df)

23053

In [56]:
df.head(5)

,image,age_approx,anatom_site_general,lesion_id,sex,MEL,NV,BCC,AK,BKL,DF,VASC,SCC,UNK
0,ISIC_0000000,55.0,anterior torso,NaN,female,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ISIC_0000001,30.0,anterior torso,NaN,female,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ISIC_0000002,60.0,upper extremity,NaN,female,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ISIC_0000003,30.0,upper extremity,NaN,male,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ISIC_0000004,80.0,posterior torso,NaN,male,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### add path

In [57]:
df['path'] = df['image'].apply(lambda x: '/ISIC_2019_Training_Input/'+x+'.jpg')

In [58]:
df.columns

Index(['image', 'age_approx', 'anatom_site_general', 'lesion_id', 'sex', 'MEL',
       'NV', 'BCC', 'AK', 'BKL', 'DF', 'VASC', 'SCC', 'UNK', 'path'],
      dtype='object')

In [59]:
df.columns = ['isic_id','age_approx', 'anatom_site_general', 'lesion_id', 'sex', 'MEL',
       'NV', 'BCC', 'AK', 'BKL', 'DF', 'VASC', 'SCC', 'UNK', 'path']

In [60]:
df.head()

,isic_id,age_approx,anatom_site_general,lesion_id,sex,MEL,NV,BCC,AK,BKL,DF,VASC,SCC,UNK,path
0,ISIC_0000000,55.0,anterior torso,NaN,female,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,/ISIC_2019_Training_Input/ISIC_0000000.jpg
1,ISIC_0000001,30.0,anterior torso,NaN,female,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,/ISIC_2019_Training_Input/ISIC_0000001.jpg
2,ISIC_0000002,60.0,upper extremity,NaN,female,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,/ISIC_2019_Training_Input/ISIC_0000002.jpg
3,ISIC_0000003,30.0,upper extremity,NaN,male,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,/ISIC_2019_Training_Input/ISIC_0000003.jpg
4,ISIC_0000004,80.0,posterior torso,NaN,male,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,/ISIC_2019_Training_Input/ISIC_0000004.jpg

### add disease column

Classification task:
1. Melanoma
2. Melanocytic nevus
3. Basal cell carcinoma
4. Actinic keratosis
5. Benign keratosis (solar lentigo / seborrheic keratosis / lichen planus-like keratosis)
6. Dermatofibroma
7. Vascular lesion
8. Squamous cell carcinoma
9. None of the others

In [61]:
cat_names = ['MEL',
       'NV', 'BCC', 'AK', 'BKL', 'DF', 'VASC', 'SCC', 'UNK']

In [62]:
df['disease'] = df[cat_names[0]]
for i in range(len(cat_names)):
    df.loc[df[cat_names[i]] == 1, 'disease'] = cat_names[i]

In [63]:
df.head(5)

,isic_id,age_approx,anatom_site_general,lesion_id,sex,MEL,NV,BCC,AK,BKL,DF,VASC,SCC,UNK,path,disease
0,ISIC_0000000,55.0,anterior torso,NaN,female,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,/ISIC_2019_Training_Input/ISIC_0000000.jpg,NV
1,ISIC_0000001,30.0,anterior torso,NaN,female,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,/ISIC_2019_Training_Input/ISIC_0000001.jpg,NV
2,ISIC_0000002,60.0,upper extremity,NaN,female,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,/ISIC_2019_Training_Input/ISIC_0000002.jpg,MEL
3,ISIC_0000003,30.0,upper extremity,NaN,male,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,/ISIC_2019_Training_Input/ISIC_0000003.jpg,NV
4,ISIC_0000004,80.0,posterior torso,NaN,male,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,/ISIC_2019_Training_Input/ISIC_0000004.jpg,MEL

In [64]:
df.to_csv('../datafiles/ISIC_2019_metadata-clean.csv')

### split

In [65]:
import random
random.seed(2023)
train_perc,valid_perc,test_perc = 0.6,0.2,0.2

In [66]:
train_set_ids=[]
valid_set_ids=[]
test_set_ids=[]

In [67]:
for each_dis in cat_names:
    male_list = df.loc[((df['disease'] == each_dis) & (df['sex'] == 'male'))]['isic_id'].to_list()
    print('Group{{male,{}}}:{}'.format(each_dis,len(male_list)))
    female_list = df.loc[((df['disease'] == each_dis) & (df['sex'] == 'female'))]['isic_id'].to_list()
    print('Group{{female,{}}}:{}'.format(each_dis,len(female_list)))
    
    train_num_male = int(len(male_list)*train_perc)
    valid_num_male = int(len(male_list)*valid_perc)
    test_num_male = len(male_list) - train_num_male - valid_num_male
    
    train_num_female = int(len(female_list)*train_perc)
    valid_num_female = int(len(female_list)*valid_perc)
    test_num_female = len(female_list) - train_num_female - valid_num_female
    
    
    train_set_tmp = random.sample(male_list,k=train_num_male)
    valid_set_tmp = random.sample(list(set(male_list) - set(train_set_tmp)),k=valid_num_male)
    test_set_tmp = list(set(male_list) - set(train_set_tmp)-set(valid_set_tmp))
    
    train_set_ids.extend(train_set_tmp)
    valid_set_ids.extend(valid_set_tmp)
    test_set_ids.extend(test_set_tmp)
    
    # female
    train_set_tmp = random.sample(female_list,k=train_num_female)
    valid_set_tmp = random.sample(list(set(female_list) - set(train_set_tmp)),k=valid_num_female)
    test_set_tmp = list(set(female_list) - set(train_set_tmp)-set(valid_set_tmp))
    
    train_set_ids.extend(train_set_tmp)
    valid_set_ids.extend(valid_set_tmp)
    test_set_ids.extend(test_set_tmp)

Group{male,MEL}:2247
Group{female,MEL}:1867
Group{male,NV}:5647
Group{female,NV}:5772
Group{male,BCC}:2000
Group{female,BCC}:1317
Group{male,AK}:458
Group{female,AK}:406
Group{male,BKL}:1252
Group{female,BKL}:967
Group{male,DF}:122
Group{female,DF}:117
Group{male,VASC}:128
Group{female,VASC}:125
Group{male,SCC}:425
Group{female,SCC}:203
Group{male,UNK}:0
Group{female,UNK}:0

In [68]:
df['split'] = df['isic_id'].apply(lambda x: 'train' if x in train_set_ids else ('valid' if x in valid_set_ids else 'test'))

In [69]:
df.head(5)

,isic_id,age_approx,anatom_site_general,lesion_id,sex,MEL,NV,BCC,AK,BKL,DF,VASC,SCC,UNK,path,disease,split
0,ISIC_0000000,55.0,anterior torso,NaN,female,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,/ISIC_2019_Training_Input/ISIC_0000000.jpg,NV,train
1,ISIC_0000001,30.0,anterior torso,NaN,female,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,/ISIC_2019_Training_Input/ISIC_0000001.jpg,NV,valid
2,ISIC_0000002,60.0,upper extremity,NaN,female,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,/ISIC_2019_Training_Input/ISIC_0000002.jpg,MEL,train
3,ISIC_0000003,30.0,upper extremity,NaN,male,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,/ISIC_2019_Training_Input/ISIC_0000003.jpg,NV,train
4,ISIC_0000004,80.0,posterior torso,NaN,male,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,/ISIC_2019_Training_Input/ISIC_0000004.jpg,MEL,train

In [70]:
df.groupby('split').mean()

,age_approx,MEL,NV,BCC,AK,BKL,DF,VASC,SCC,UNK
split,,,,,,,,,,
test,54.416414,0.178316,0.494482,0.143692,0.037871,0.096300,0.010604,0.011253,0.027483,0.0
train,54.361925,0.178491,0.495480,0.143921,0.037391,0.096261,0.010342,0.010921,0.027193,0.0
valid,54.050206,0.178502,0.495765,0.143974,0.037351,0.096200,0.010206,0.010858,0.027144,0.0

In [71]:
df.to_csv('../datafiles/ISIC_2019_metadata-clean-split.csv')